html {
  height: 100%;
  width: 100%;
}

body {
  font-size: clamp(1rem, 3.2vw, 20px);
  background-color: #ade8f4;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  max-height: 100%;
  align-items: baseline;
}

h1 {
  font-size: 10vw;
  color: #454851;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

#Details {
  font-size: 30px;
  text-align: center;
  color: #454851;
}

h2 {
  font-size: clamp(10vw, 3.2vw, 1rem);
  color: #002A5A;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h2#section {
  color: #73956F;
  font-family: Helvetica, sans-serif;
}

h3 {
  font-size: clamp(2.5vw);
  color: black;
  font-family: Helvetica, sans-serif;
}

h3#company {
  font-size: 2vw;
  color:black;
}

h3#company, h3#title {
  display:inline;
}

h4 {
  color: grey;
  font-family: Helvetica, sans-serif;
  margin:0;
}

h4#date {
  font-size: 1.5vw;
  color:gray;
  padding:1% 0;
}

p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
  margin-bottom: 30px;
}

p#aboutme {
  color:black;
}

#references {
  text-align: center;
}

#visitor_count {
  color:#454851;
  font-family: 'Times New Roman', Times, serif;
  text-align:center;
  font-size: 30px;
}
ul {
  list-style-type: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  line-height:1.5;
}

p#line {
  border-top: 0vh solid #454851;
  border-radius: 1vh;
}

hr.dashed {
  border-top: 3px dashed #454851;
  width: auto;
  
}




div
{
    font-size: 2rem;
    padding:clamp(20px, 5vw, 150%);
}

@media only screen and (max-width: 620px) {
  .div {
    width:100%;
  }
}

.Header {
  font-size: 2rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:800;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #002A5A;
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  background-color: #ADE8F4;
}

@keyframes hoverIn {
  from {color:#002A5A;} 
  to {color:#0077B6;}
}
@keyframes hoverOut {
  from {color:#0077B6;}
  to {color:#002A5A;}
}

.Header > div {
  font-size: 0.9rem;
  margin-right: 1rem;
  padding: 0;
  animation-name: hoverOut;
  animation-duration: 300ms;
}

.Header > div:hover {
  animation-name: hoverIn;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  color:#0077B6;
}
.titlecontainer {
  padding-top: 300px;
  padding-bottom: 400px;
  display:flex;
  flex-flow:row wrap;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: #ade8f4;
}

.title {
  padding-bottom: 7%;
}

.title h1  {
  font-size: 9vw;
  color: #002A5A;
  width: 100%;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
  border-right: 3px solid black;
  white-space: nowrap;
  margin:auto;
  width: 0;
  animation: 
    typing 2.5s steps(30, end) forwards,
    blink .8s steps(30) infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink {
  from { border-color: transparent }
  to { border-color: black; }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(500%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.titledetails {
  position: relative;
  padding:0;
  left: -2%;
  animation: slideInFromBottom 0.5s;
}



.titledetails h2 {
  font-size: 3vw;
  color: #0077B6;
}

.myself {
  max-height:100%;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #CAF0F8;
}

.myself .name, .location {
  padding-bottom:1%;
  padding-top: 1%;
}

.myself .location h3 {
  text-align:center;
}
.myself .aboutme {
  flex: 100%;
  padding:10px
}

.myself .portraitcard {
  display:flex;
  flex-direction: column;
  max-width: 85%;
  position:relative;
  padding: 0;
  background-color: white;
  border-radius:8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}

.profilephoto {
  padding:0;
  display:block;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  height: auto;
}

.portraitcontainer {
  display:flex;
  flex-direction: column;
  justify-self: center;
}

.portraitcontainer h3 {
  font-size:5vw;
  font-weight: bold;
  color: #454851;
  margin: 0;
  margin-left:3%  
}

.portraitcontainer .skills ul li{
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #454851;
  font-size:4vw;
  padding: 4%;
  border: 2px solid #454851;
  border-radius: 10px;
  margin:3%;
  background-color: #f8f9fa;
}

.myphoto {
  display:block;
  max-width: 100%;
  height:auto;
  position: relative;
  margin: 0 auto;
  border: 1px #7BAE7F;
  border-radius: 8px;
}

.aboutme {
  padding: 1vh;
  width: 200px;
}

.portraitcontainer .socials {
  display: flex;
  justify-content: center;
}
.portraitcontainer .socials a {
  padding:1%;
  margin:10%;
}


@media only screen and (min-width:620px) {
  .Header {
    font-size:2rem;
    padding-top: 3%;
    padding-bottom: 5%;
  }
  .myself {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .myself .aboutme {
    flex:50%;
    right:-5%;
    max-width: 50%;
    padding: 2%;
  }
  .myself .portraitcard {
    max-width: 40%; 
  }
  .profilephoto {
    max-height:40%;
  }
  .portraitcontainer h3 {
    font-size:1rem;
  }
  .portraitcontainer {
    padding:0;
    height:100%;
  }
  .portraitcontainer .skills {
    padding:0;
  }
  .portraitcontainer .skills ul li {
    font-size: 1rem;
    border-radius: 8px;
  }
  .socials {
    padding-bottom:0;
  }
  .socials a {
    flex-wrap: wrap;
    margin: 1%;
  }
  .myphoto {
    width:50%;
    height:1%;
  }
  .title h1 {
    font-size: 6vw;
  }
  p {
    font-size: 1.5vw;
    margin-bottom:30px;
  }
  h2 {
    font-size: 3.2vw;
  }
  ul.content {
    padding: 0;
  }
  ul.content h4#date {
    font-size: 1.2rem;
  }
}
.content {
  padding: 1%;
  background-color: #ade8f4;
}
.timeline {
  display: flex;
  flex-direction: row;
  padding:1%;
  justify-content: space-between;
}


.timeline ul.main {
  list-style-type: none;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.timeline ul.main::before {
  content: '';
  display: flex;
  position:relative;
  transform: translateX(-50%);
  background-color: #7BAE7F;
  width:5px;
  left:-5%;
  top:90px;
  bottom:0px;

}
.experience, .education {
  flex:1;
}

.wrapper {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.row {
  position: relative;
  padding: 10px 10px 10px 10px;
  background-color: #CAF0F8;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrapper::before {
  content:'';
  position:absolute;
  width:20px;
  height:20px;
  left: -0.58rem;
  top:0;
  background-color: #0077B6;
  border-radius: 50%;
}
.section {
  position: relative;
  padding: 0px 10px 10px 10px;
}
.section > ul.content li {
  padding-bottom:10px;
}
.ul.main li {
  background-color: white;
}
.row > div, .section > .content {
  background-color: #CAF0F8;
  border: 1px black;
  border-radius:1%;
}
.timelinewrapper {
  position: relative;
  border-top: white;
  border-left: 0.2rem solid #002A5A;
  padding:0;
}


@media only screen and (max-width:620px) {
  .titledetails > h2 {
    font-size:6vw;
  }
  .timeline {
    flex-direction: column;
  }
  .timeline ul.main::before {
    width: 0.3rem;
    top: 0px;
  }
  .wrapper::before {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }
  .section > h3, h3#title {
    font-size: 1.5rem;
  }
  .section > h4#date, ul > h4#date {
    font-size: 1rem;  
  }
  p {
    font-size: 1rem;
  }
  ul {
    font-size: 0.8rem;
  }

  
}
